<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thynekeaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/app.css}">
    <title>giflib | Home</title>
</head>
<body>
    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam beatae debitis dolores eaque earum eos facere hic illo nemo neque, pariatur perferendis praesentium provident quis sed suscipit totam voluptatibus. Exercitationem.</p>
    <img th:src="@{/gifs/compiler-bot.gif}" alt="Logo" />
</body>
</html>